.clvc-buttonradius
{
    -fx-background-radius: 20;
}
.clvc-light-green
{
    -fx-background-color:#78e08f;
}

.clvc-blue-azur
{
    -fx-background-color: #0984e3;
}

.clvc-clear-grey
{
    -fx-background-color: #99AAB0;
}

.clvc-vboxradius
{
    -fx-background-radius: 30;
}

.clvc-input .floating-text
{
    -fx-background-color: transparent;
}

.clvc-input
{
    -fx-border-color:none;
    -fx-border-width:0;
}

.clvc-pseudo-field
{
    -fx-background-color:#78858A;
    -fx-background-radius:50px;
    -fx-text-color:#ffffff;
}