@import "color.css"

* {
    -fx-font-family: "Comfortaa";
    -fx-font-smoothing-type: gray;
    -fx-text-fill: #ffffff;
}

.root {
    -fx-font-size: 16px;
}

.clvc-dracula-orchid {
    -fx-background-color: clvc-dracula-orchid;
}

.clvc-american-river{
    -fx-background-color: clvc-american-river;
}

.clvc-transparent-background {
    -fx-background-color: transparent;
}

.clvlc-font-24px {
    -fx-font-size: 24px;
}

.clvc-font-12px {
    -fx-font-size: 12px;
}

.clvc-font-8px {
    -fx-font-size: 8px;
}

.clvc-font-bold {
    -fx-font-weight: bold;
}

.clvc-input-field {
    -fx-background-color: clvc-concrete;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.clvc-input-field > VBox {
    -fx-background-color: #bdc3c7;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.clvc-input-field > VBox > Button {
    -fx-background-color: #2f3542;
    -fx-border-width: 0;
}

.clvc-input-field > .mfx-text-field {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-padding: 5px 10px;
    -fx-border-width: 0;
}

.clvc-input-field > .mfx-text-field .floating-text {
    -fx-font-size: 16px;
    -fx-text-fill: #5b5b5b;
    -fx-background-color: transparent;
}

.clvc-input-field > .mfx-text-field:floating .floating-text {
    -fx-font-size: 12px;
    -fx-text-fill: #dfe6e9;
}

.clvc-input-field-error > .mfx-text-field .floating-text {
    -fx-text-fill: #d63031;
}

.clvc-input-field-error > VBox > Button  {
    -fx-background-color: #d63031;
}


.clvc-search-icon {
    -fx-shape: "M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"
}

.clvc-user-icon {
    -fx-shape: "M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
}

.clvc-id-icon {
    -fx-shape: "M256 0h64c17.7 0 32 14.3 32 32V96c0 17.7-14.3 32-32 32H256c-17.7 0-32-14.3-32-32V32c0-17.7 14.3-32 32-32zM64 64H192v48c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V64H512c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64zM176 437.3c0 5.9 4.8 10.7 10.7 10.7H389.3c5.9 0 10.7-4.8 10.7-10.7c0-29.5-23.9-53.3-53.3-53.3H229.3c-29.5 0-53.3 23.9-53.3 53.3zM288 352c35.3 0 64-28.7 64-64s-28.7-64-64-64s-64 28.7-64 64s28.7 64 64 64z"
}

.clvc-password-icon {
    -fx-shape: "M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zm40-176c-22.1 0-40-17.9-40-40s17.9-40 40-40s40 17.9 40 40s-17.9 40-40 40z"
}

.clvc-cursor-hand {
    -fx-cursor: hand;
}