* {
    clvc-dracula-orchid: #2d3436;
    clvc-american-river: #636e72;
    clvc-shy-moment: #a29bfe;
    clvc-lime-soap: #7bed9f;
    clvc-concrete: #95a5a6;
    clvc-peace: #a4b0be;
    clvc-darkblue:#00226a;
}